body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-jsmath-cmmi10: jsMath-cmmi10;

    /* font sizes */
    --font-size-xs: 12px;

    /* Colors */
    --background: rgba(7, 50, 66, 0.9);
    --color-gray: rgba(34, 34, 34, 0.13);
    --color-white: #fff;
    --color-gainsboro: #d9d9d9;
    --color-black: #000;
    --color-lightgray: #ccc;

    /* Gaps */
    --gap-xl: 20px;

    /* Paddings */
    --padding-5xs: 8px;
    --padding-46xl: 65px;
    --padding-20xl-3: 39.3px;
    --padding-42xl: 61px;
    --padding-20xl: 39px;
    --padding-28xl-3: 47.3px;
    --padding-xl: 20px;
    --padding-241xl: 260px;
    --padding-239xl: 258px;
    --padding-110xl: 129px;
    --padding-111xl: 130px;
    --padding-45xl: 64px;
    --padding-77xl: 96px;
    --padding-29xl: 48px;
    --padding-11xl: 30px;
    --padding-mini: 15px;
}
